RabbitMQ Cluster status as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in rabbitmqctl_result.stdout_lines %}
{{ line }}
{% endfor %}


MySQL wsrep var status as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in mysqlstatus_result.stdout_lines %}
{{ line }}
{% endfor %}


nova service-list output as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in nova_servicelist_result.stdout_lines %}
{{ line }}
{% endfor %}


cinder service-list output as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in cinder_servicelist_result.stdout_lines %}
{{ line }}
{% endfor %}

orchestration service list output as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in orchestration_servicelist_result.stdout_lines %}
{{ line }}
{% endfor %}

neutron agent-list output as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}

{% for line in neutron_agentlist_result.stdout_lines %}
{{ line }}
{% endfor %}


openstack endpoint list output as at {{ ansible_date_time.date }}-{{ ansible_date_time.time }}
Public Endpoint {{ endpointlist_public_match | default('is a match to') }} external_lb_vip_address of {{ external_lb_vip_address }}
Internal Endpoint {{ endpointlist_internal_match | default('is a match to') }} internal_lb_vip_address of {{ internal_lb_vip_address }}

{% for line in endpointlist_result.stdout_lines %}
{{ line }}
{% endfor %}
